:root {
    --dark: #212121;
    --light: #F3F3F3;
    --grey: #8A8A8B;
    --primary: #AF1E2D;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    background-image: url('../Images/Dekstop/HomePage/background.png');
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #212121;
}

/*Top Part*/
.top-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.SABEKO{
    display: flex;
    flex-wrap: wrap;
    order: 1;
    flex: 1;
    padding: 8px;
    line-height: 0.3;
}

.SABEKO span{
    margin: auto;
}

.SABEKO h4{
    border-bottom: 1px solid;
    border-color: var(--dark);
    padding-bottom: 0.7em;
}

.navbar {
    order: 2;
    flex: 4;
}

.navbar .menu{
    word-spacing: 6em;
    font-size: 1.5em;
    text-align: center;
    margin: 1.3em auto;
}

.profile {
    order: 3;
    flex: 1;
    font-size: 1.1em;
    text-align: center;
    margin-right: 3.5em;
}

.profile p{
    margin: 2em auto;
}

.title .MyGarden{
    position: absolute;
    padding: 0em;
    margin-left: 1.4em;
    margin-top: -3.3em;
    font-size: 12px;
}

/*Middle Part*/
.center{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid;
    border-color: var(--dark);
    border-radius: 2em;
    margin-top: 4em;
    margin-right: 40em;
    margin-left: 7em;
}

.list-column{
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    max-width: 100%;
    max-height: 100%;
    margin-top: 1em;
}

.list-column .Tanamanmu{
    position: absolute;
    margin-top: -39em;
}

/*Bottom Part*/
.sub-title{
    position: absolute;
    display: flex;
    justify-content: space-around;
    gap: 8em;
    margin-top: 3em;
    margin-left: 47.5em;
}

.sub-title .title-farm-set-layout{
    font-size: 14px;
}

.sub-title .information{
    font-size: 14px;
}

.base-layout{
    position: absolute;
    margin-left: 45em;
    margin-top: 7em;
}

.base-layout .child-base-layout{
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
    margin-left: 2.7em;
    margin-right: 2.7em;
    padding: 0.7em;
    justify-content: space-around;
    gap: 1em;
    box-shadow: 1px 1px 9px #757575;
    border: 1px;
    border-radius: 4px;
}

.base-layout .child-base-layout .layout-1{
    background-color: #519A2E;
    width: 6em;
    height: 2.5em;
    padding: 2em;
    box-shadow: 3px 3px 9px #757575;
    border: 1px;
    border-radius: 4px;
}

.base-layout .child-base-layout .layout-2{
    background-color: #4D9941;
    width: 5.5em;
    height: 3.5em;
    padding: 2em;
    box-shadow: 3px 3px 9px #757575;
    border: 1px;
    border-radius: 4px;
}

.base-layout .child-base-layout .layout-3{
    background-color: #088815;
    width: 5.3em;
    height: 3.5em;
    padding: 2em;
    box-shadow: 3px 3px 9px #757575;
    border: 1px;
    border-radius: 4px;
}

.base-layout .child-base-layout .layout-4{
    background-color: #73B849;
    width: 6.5em;
    height: 2em;
    padding: 2em;
    margin-top: 1em;
    box-shadow: 3px 3px 9px #757575;
    border: 1px;
    border-radius: 4px;
}

.set-layout-button{
    position: absolute;
    display: flex;
    justify-content: right;
    margin-left: 52em;
    margin-top: 27em;
}

.set-layout-button button{
    width: 340px;
    height: 40px;
    background: #55af85;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    color: #000000c9;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1em;
}

/*Remove Mobile View*/
.title .back, .title .next, .information{
    display: none;
}

/*Responsive Mobile View*/
@media screen and (max-width: 450px) {
    
    html {
        position: fixed;
        height: 100%;
        overflow: hidden;
    }

    body{
        background-image: none;
        background-color: #f5f5f5;
        width: 100vw;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    /*Remove Desktop View*/
    .navbar, .profile, .SABEKO, .Tanamanmu{
        display: none;
    }

    /*Responsive Mobile Top Part*/
    .title{
        font-size: 12px;
        display: flex;
    }

    .keep{
        background-color: #f5f5f5;
        gap: 5em;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-around;
    }

    .title .MyGarden{
        position: relative;
        padding: 0em;
        margin-left: 0;
        margin-top: 0;
        font-size: 12px;
    }

    .title .back, .title .next{
        display: flex;
    }

    /*Responsive Mobile Middle Part*/
    .container-keep{
        border: 1px;
        border-radius: 5px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        up: 0;
        background-color: #f0efef;
        z-index: 3000;
    }

    .center{
        position: static;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: none;
        border-color: none;
        border-radius: 0em;
        margin-top: 0em;
        margin-right: 0em;
        margin-left: 0em;
    }

    .list-column{
        margin-top: 2em;
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.6em;
        max-width: 100%;
        max-height: 100%;
    }

    .dummy{
        margin-top: 19em;
    }

    .list-column .box-1{
    }

    .list-column .box-2{
    }

    .list-column .box-3{
    }

    .list-column .box-4{
    }

    .list-column .box-5{
    }

    .list-column .box-6{
    }

    .list-column .box-7{
    }

    .list-column .box-8{
    }

    .list-column .box-9{
    }

    .list-column .box-10{
    }

    .list-column .box-11{
    }

    .list-column .box-12{
    }

    /*Responsive Mobile Bottom Part*/
    .sub-title{
        position: relative;
        display: flex;
        justify-content: space-around;
        gap: 8em;
        margin-top: 0em;
        margin-left: 0em;
    }

    .sub-title .title-farm-set-layout{
        font-size: 14px;
    }

    .sub-title .information{
        display: contents;
        font-size: 14px;
    }

    .base-layout{
        position: static;
        justify-content: center;
        padding-bottom: 1em;
        margin-left: 0em;
        margin-top: 0em;
    }

    .base-layout .child-base-layout{
        display: flex;
        flex-wrap: wrap;
        background-color: #ddd;
        margin-left: 2.7em;
        margin-right: 2.7em;
        padding: 0.7em;
        justify-content: space-around;
        gap: 0.1em;
        box-shadow: 1px 1px 9px #757575;
        border: 1px;
        border-radius: 4px;
    }

    .base-layout .child-base-layout .layout-1{
        background-color: #519A2E;
        width: 6em;
        height: 2.5em;
        padding: 1em;
        box-shadow: 3px 3px 9px #757575;
        border: 1px;
        border-radius: 4px;
    }

    .base-layout .child-base-layout .layout-2{
        background-color: #4D9941;
        width: 5.5em;
        height: 3.5em;
        padding: 1em;
        box-shadow: 3px 3px 9px #757575;
        border: 1px;
        border-radius: 4px;
    }

    .base-layout .child-base-layout .layout-3{
        background-color: #088815;
        width: 5.3em;
        height: 3.5em;
        padding: 0.8em;
        box-shadow: 3px 3px 9px #757575;
        border: 1px;
        border-radius: 4px;
    }

    .base-layout .child-base-layout .layout-4{
        background-color: #73B849;
        width: 6.5em;
        height: 2em;
        padding: 1em;
        margin-top: 1em;
        box-shadow: 3px 3px 9px #757575;
        border: 1px;
        border-radius: 4px;
    }

    .set-layout-button{
        position: static;
        display: flex;
        justify-content: center;
        margin-left: 0em;
        margin-top: 0em;
    }

    .set-layout-button button{
        width: 340px;
        height: 40px;
        background: #55af85;
        border-radius: 15px;
        border: none;
        font-weight: bold;
        color: #000000c9;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 1em;
    }
}
