:root {
    --dark: #212121;
    --light: #F3F3F3;
    --grey: #8A8A8B;
    --primary: #AF1E2D;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

/*Search Bar*/
.search-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    max-width: 100% auto;
    margin: auto;
    padding: 6px;
    box-sizing: 2px border-box;
    justify-content: center;
}

.search-bar .search-box{
    padding: 0.2em;
    height: 2em;
    width: 30em;
    border: 2px;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 2px 3px 4px grey;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: absolute;
    top: 7em;
    z-index: 2; /* Pastikan lebih tinggi dari mid-container */
    background-color: #ffffffdc;
    border: 2px;
    border-radius: 7px;
    margin-left: 3em;
    width: 77%;
}

.items-link {
	text-decoration: none;
	color: black;
    display: flex;
    max-width: 100%;
    border: 1.5px solid #8ee5bc31;
    border-radius: 4px;
}

.items-link:hover {
	text-decoration: underline;
	color: black;
}
/*Mobile View*/
.title, .customization-title{
    display: none;
}

/*Responsive Mobile View*/
@media screen and (max-width: 450px) {
    
    html {
        position: fixed;
        height: 100%;
        overflow: hidden;
    }

    body{
        background-color: #f5f5f5;
        width: 100vw;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    /*Responsive Mobile Top Part*/
    .title{
        background-color: #f5f5f5;
        display: flex;
        justify-content: space-around;
        font-size: 12px;
        gap: 5em;
    }

    .title .PlantAnalyzer{
        display: flex;
        flex-wrap: nowrap;
        font-size: 12px;
    }

    .search-bar .search-box{
        justify-content: center;
        height: 1.9em;
        width: 25em;
        margin-top: -1em;
        border: 2px;
        border-radius: 20px;
        font-size: 14px;
        box-shadow: 2px 3px 4px grey;
    }
    
    /*Responsive Mobile Middle Part*/
    .box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 0.2em solid #06b806;
        border-radius: 16px;
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 1em;
    }

    .box .images{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;
    }

    .sub-title{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        font-size: 14px;
        margin-left: 0.3em;
    }

    .box-2{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
        gap: 1em;
    }

    select {
        width: 200px;
        padding: 5px;
    }

    .set-layout-button{
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }

    .set-layout-button button{
        width: 340px;
        height: 40px;
        background: #55af85;
        border-radius: 15px;
        border: none;
        font-weight: bold;
        color: #000000c9;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 1em;
    }

}
